# Operators  in Python


|**Type** | **Operartors**|
|-------|-----|
|Arithmetic Operator | +, -, *, /,  % , //, ** |
|Relational Operator | <,>,<=,>=, ==, != |
|Logical Operator | and, or, not |
|Bitwise Operator |&, ~, >>, << ,^ , \|  |
|Assignment Operator | += ,-=, *=, /=, %= , //=, ** =, >>=, <<=, &=, \|=, ^=  |
|Ternary Operator | x=a if(condtion is true) else rest |
|Special Operator | (is, is not ):(Identity operators), (in, not in):(Membership operators) |

# 1. Arithmetic Operator


|**Type**|**Terminology**|
|-----|--------|
|+ | addition Operator|
|- | subtraction Operator|
|* | Multiplication Operator|
|/ | Division Operator|
|% | Modulo Opertor|


|More|.....|
|-----|--------|
|// | Floor Operator|
|** |Power Operator|



**NOTE**

## / 
- this always result in a float value


## // 
- this can return either int or float
- if both values are int then result is always int
- if any one is float then result is always float

**NOTE**
- so our normal c++ operator is '//' but will always give floor value .

In [1]:
a = 12
b=12

In [2]:
a+b

24

In [3]:
print(a+b)
print(a-b)
print(a*b)
print(a/b) # always generate float value
print(a%b)

24
0
144
1.0
0

In [4]:
print(a//b) # can generate float or int; int in this case
print(a**b)

1
8916100448256

In [5]:
a=12.0

In [6]:
print(a//b) # can generate float or int; float in this case
print(a**b)

1.0
8916100448256.0

# '+' operator applicable for str also(string concatenation)

- if both are string then concatenation happen
- if any one is int then error will occur

In [7]:
'shaurya' + 3

TypeError: can only concatenate str (not "int") to str

In [8]:
'shaurya' + ' singhal'

'shaurya singhal'

In [10]:
'shau' +str(3)

'shau3'

# '*' operator applicable for str also(string repetation)

- if both are string then error will occur
- if any one is int then repetation will occur

In [11]:
'shua' *3

'shuashuashua'

In [12]:
3* 'shau'

'shaushaushau'

In [13]:
'shau'*'3'

TypeError: can't multiply sequence by non-int of type 'str'

# 2. Relational Operator ( <,>,<=,>=, ==, != )

- You know it very well
- applicable on string as well (consider Ascii or Unicode to compare)
- while comparing two values with incompatible type (using == or !=)(consider int and float both as number type) there is never an error, but result ---------------->>>>>> LHS is not equal to RHS.
- and for others(operators) it is error.

In [14]:
'3' == 3

False

In [15]:
3==3.0

True

In [16]:
4 != '4.0'

True

# Chained Comparison Operators are also allowed

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

`10<20<30<40 `-> is allowed in Python (it will return true if every one is true)

- i.e  10<20<30<40 -> is allowed in Python (it will return true)

## Rule
``` python
if a<b<c<d<e

    if all are true => then ans is true
    else false
```

In [17]:
10<20<30

True

In [18]:
10<20>30

False

In [19]:
10==5+5 == 3+7 == 2*5

True

In [20]:
'shaurya'<'singhal'

True

In [21]:
10<'sh'

TypeError: '<' not supported between instances of 'int' and 'str'

In [22]:
10=='sh'

False

In [23]:
10 =='10'

False

In [24]:
10==10.0

True

In [26]:
'shaur'=='shaur'

True

In [27]:
True==1

True

In [28]:
True==0

False

In [29]:
False==0

True

In [30]:
10+2j == 10+2j

True

In [31]:
10+2j != 10-2j

True

In [32]:
10 ==10.1

False

## 3. Logical Operator(and, or, not)--> different from C++ or Java in output

In case of a ('and' or 'or') b

    - result is not true or false 
    - result is always either a or b 

- In case  of **not** ans is same as in c++

## Rules

- #### and
-- if a is false result is a otherwise b


- #### or
-- if a is true result is a otherwise b


- #### not
-- if a is true result is b otherwise a

In [14]:
10 and 20

20

In [15]:
False and 34

False

In [16]:
True and 34

34

In [17]:
'sh' and 34

34

In [18]:
'' and 245

''

In [26]:
False or'shau'

'shau'

In [27]:
not ''

True

In [28]:
not False

True

In [29]:
not 'shaurya'

False

In [30]:
10 or 10/0

10

In [31]:
10 and 10/0

ZeroDivisionError: division by zero

## 4. Bitwise Operator(&, |, ~, >>,<<, ^)

- you know them work like as in c++

## 5. Assignment and Compound Assignment Operator(=, +=,............)

- a,b,c,d = 1,2,3,4
- a,b = b,a (Swapping)


- In Python there is no pre/post-increment/decrement operator 
- i.e x++, x--, ++x, --x are not valid 
- to increment use x=x+1 or x+=1.



- post one will give u error
- pre(++x) is considered as  +(+x) 
- --x as -(-x) or we can say they are series of unary operator in python

In [39]:
x =-12

In [40]:
--x

-12

In [5]:
++x

-12

In [6]:
---x

12

In [7]:
x++

SyntaxError: invalid syntax (<ipython-input-7-0af4bb0eac37>, line 1)

## Ternary Operator

- it is unlike that in c++ or Java

``` python
    x=a if (condition is True) else (b)
```


-- chaining is also allowed in ternary operator as in c++ or Java
``` python
    x=a if (condition1) else (b if (condition2) else(c))
        above statemaent can be written without any braces and would mean the same!!

        ```

In [8]:
x=2 if(True) else 4

In [9]:
x

2

In [23]:
x=5 if (not True) else 6

In [24]:
x

6

In [31]:
x=3 if False else 5 if False  else 9

In [32]:
x

9

In [33]:
a,b=12,14

In [36]:
print(a,b,sep='\n')

12
14

In [37]:
a,b=b,a

In [38]:
print(a,b,sep='\n')

14
12

## 6. Special Operator

- Two types

|Name | Operators|
|-------|---------|
|Identity Operator| is, is not|
|Membership Operator| in, not in |

- **is operator** compares the reference i.e. whether they are pointing to same memory location or not
 but == compares the content of left value and right value.
 
- **in operator** checks if something is a member of it or not

In [42]:
a=10
b=10

In [43]:
print(id(a))
print(id(b))

1843185936
1843185936

In [44]:
a is b

True

In [45]:
a= [1,2,3]
b= [1,2,3] #since list dont use reusing concept(valid for int and strings only)

In [46]:
a==b

True

In [47]:
a is b

False

In [49]:
print(id(a))
print(type(a))
print(id(b))
print(type(b))

14881776
<class 'list'>
90696080
<class 'list'>

In [50]:
10 in a

False

In [51]:
1 in a

True

In [52]:
2 in b

True

In [53]:
5 not in b

True

In [54]:
5 in b

False

In [55]:
s = "shaurya is Loving Python "

In [33]:
print('shau' in s)
print('S' in s)
print('L' in s)
print('l' in s)
print('Pyth' in s)

NameError: name 's' is not defined

---
---
---
---

# Functions

- we can use **default arguments**

- we can pass **positional arguments** to function(like fun('shdg' , '23' ,32435))

- we can use **keyworded arguments** as well
    - like (a=23, b=24, d=24, c=23)
    
- there are \*args and \**kwargs as well

```python
    def fun(a,b):
        print(a,b)

    fun(2,3) # positional

    def fun2(a,b,c=3): #default
        print(a,b,c)

    fun2(3,3)

    fun2(b=23, c=34, a=12) # keyworded argumnents (not possible in c++)
```

# Nested Functions

- Function inside function

In [2]:
def outer_func():
    
    def inner_func():
        print("inner_ function")

    print("outer_func")
    inner_func()
    print("outer_func")
    inner_func()
    print("outer_func")    
    inner_func()
    print("outer_func")    
    inner_func()
    print("outer_func")    
    inner_func()

In [3]:
outer_func()

outer_func
inner_ function
outer_func
inner_ function
outer_func
inner_ function
outer_func
inner_ function
outer_func
inner_ function

# Special Functions

- eval() ->just like auto in c++(it automatically evaluate the type of string argument and in addition it is used to evaluate expression )
- enumerate()
- zip()

- Discussed in Lambda expression notebook
    - map()
    - filter()
    - reduce() 
- some more..    
    - all()  returns true if all are true like in lst = [True,True,False,True]  , all(lst) returns False 
    - any()  returns true if any of among is true like in lst = [True,True,False,True]  , any(lst) returns True 

#### Concept
- Tuple Unpacking
- Dictionary Unpacking
- List Comprehension(Discussed in its notebook)

# eval()

In [28]:
integer = eval('2342')
print(type(integer))

<class 'int'>

In [33]:
floatVal = eval('2342.354')
print(type(floatVal))

<class 'float'>

In [37]:
int2 = eval('2+3*10+24')
print(type(int2))
print(int2)

<class 'int'>
56

## enumerate()

enumerate is a very useful function to use with for loops. Let's imagine the following situation:

In [40]:
# we can do something like this

index_count = 0
for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [59]:
for x in enumerate('defg'):
    print(x)

(0, 'd')
(1, 'e')
(2, 'f')
(3, 'g')

In [50]:
# or we can do it using enumerate() -> gives a list of tuples
# concept of tuple unpacking
for index, value in enumerate('abcde'):
    print("At index {} the letter is {}".format(index, value))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

## zip()
 You can use the **zip()** function to quickly create a list of tuples by "zipping" up together two or more lists.
 ###### note-> will see iterator later on..
zip() makes an iterator that aggregates elements from each of the iterables.

Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. The iterator stops when the shortest input iterable is exhausted. With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

In [1]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']

In [2]:
type(zip(list1,list2))

zip

In [3]:
zip(list1,list2)

In [4]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [9]:
list3 =[23,235,6,4,756,89,7]

In [10]:
for a,b,c in zip(list1,list2,list3):
    print(a,b,c)
    print()

1 a 23

2 b 235

3 c 6

4 d 4

5 e 756

## Tuple Unpacking
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [12]:
list2 = [(2,4),(6,8),(10,12)]

In [13]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [14]:
# Now with unpacking and then packing!
for (t1,t2) in list2:
    print(t1 ,end = ' ')
    print(t2)

2 4
6 8
10 12

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

## Dictionary Unpacking

In [15]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [16]:
print(d.items())

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

In [19]:
d.values()

dict_values([1, 2, 3])

In [20]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

Since the .items() method supports iteration(gives a list of tuples), we can perform *dictionary unpacking* to separate keys and values just as we did in the Tuple Unpacking.

In [21]:
# Dictionary unpacking
for k,v in d.items():
    print(k,end=' ')
    print(v)

k1 1
k2 2
k3 3

## Conclusion

We've learned how to use for loops to iterate through tuples, lists, strings, and dictionaries. It will be an important tool for us.