# variables

In [80]:
a=10
b=20

In [81]:
a

10

In [82]:
b

20

# to see list of variables created

In [83]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     10
b          int     20
li         list    n=6
li2        list    n=4
li3        list    n=8

# list

In [84]:
li  = [1,2,3]

operations

- append
- remove
- insert
- pop
- extend
- index
- sort
- count
- clear
- reverse

In [85]:
li.append(12)

In [86]:
li

[1, 2, 3, 12]

In [87]:
li.append([1,2,3])

In [88]:
li

[1, 2, 3, 12, [1, 2, 3]]

In [89]:
li.extend([6,7,8])

In [90]:
li

[1, 2, 3, 12, [1, 2, 3], 6, 7, 8]

In [91]:
li.insert(3, 'shaurya')

In [92]:
li

[1, 2, 3, 'shaurya', 12, [1, 2, 3], 6, 7, 8]

In [93]:
li.insert(100,'last')

In [94]:
li

[1, 2, 3, 'shaurya', 12, [1, 2, 3], 6, 7, 8, 'last']

In [95]:
li.remove(2) # remove first presecnce of 2, result in error
#  if not found

In [96]:
li

[1, 3, 'shaurya', 12, [1, 2, 3], 6, 7, 8, 'last']

In [97]:
li.remove(2)

ValueError: list.remove(x): x not in list

In [98]:
li.pop() #remove last

'last'

In [99]:
li

[1, 3, 'shaurya', 12, [1, 2, 3], 6, 7, 8]

In [100]:
li.pop(3) # index should be in range else error

12

In [101]:
li

[1, 3, 'shaurya', [1, 2, 3], 6, 7, 8]

# looping over list

In [114]:
li = [1, 3, 'shaurya', [1, 2, 3], 6, 7, 8]

In [116]:
for x in range(len(li)):
    print(li[x])

1
3
shaurya
[1, 2, 3]
6
7
8

In [117]:
for el in li:
    print(el)

1
3
shaurya
[1, 2, 3]
6
7
8

In [119]:
for el in li[2:]:
    print(el)

shaurya
[1, 2, 3]
6
7
8

# Inputting a list

In [123]:
# 1. line seperated 
# 4
#1 
#2 
#3 
#4 

n =  int(input())
li = []
for i in range(n):
    li.append(int(input()))

4
1
2
3
4

In [124]:
li

[1, 2, 3, 4]

In [128]:
# 2. space seperated 
# 4
#1 2 3 4 
n = int(input())
li = [int(x) for x in input().split()]

5
5 6 7 8 9

In [129]:
li

[5, 6, 7, 8, 9]

# Linear Search

In [134]:
# Linear Search
li = [21,82,33,47,54,66,79]
element_to_search = int(input())

for ele in li:
    if ele == element_to_search:
        print('---wollla--')
        break
else: #else works only if for loop executes completely 
        # not breaked by break    
    print(-1)

47
---wollla--

# passing list to function

In [142]:
def changelist(li):
    li[0] = 'shaurya'  
li = [3,4,6,7]
changelist(li)

In [143]:
li

['shaurya', 4, 6, 7]

# reversing list

In [176]:
li = [3,4,5,87,7,8,7,9,0]
length = len(li)
for ele in range(length//2):
    li[ele] ,li[length-1-ele] = li[length-1-ele],li[ele]
    
li

[0, 9, 7, 8, 7, 87, 5, 4, 3]

In [179]:
li = [3,4,5,87,7,8,7,9,0]
li[::-1] # if using -ve step ,starts become -1
            # and end reaches before 0
    
    # or if -ve step
    # swap end and start ad shift by one position to left!!

[0, 9, 7, 8, 7, 87, 5, 4, 3]

In [178]:
li = [0, 9, 7, 8, 7, 87, 5, 4, 3]
for ele in range(len(li)//2):
    li[ele] ,li[-1-ele] = li[-1-ele],li[ele]
    
li

[3, 4, 5, 87, 7, 8, 7, 9, 0]

# strings
- sequence of characters stroed as unicode values internally

In [180]:
string =  'shaurya singhal'

In [186]:
string[8:2:-1]

's ayru'

# List comprehension

In [1]:
li = [ele**2 for ele in range(10)]

In [2]:
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# with condition

li =  [ele**2 for ele in range(10) if ele%2==0]

In [4]:
li

[0, 4, 16, 36, 64]

In [7]:
# with nested condition

for ele in range(20):
    if ele%3==0:
        if ele%2==0:
            print(ele,end =' ')

0 6 12 18

In [8]:
li = [ele for ele in range(20) if ele%3==0 if ele%2==0]
li

[0, 6, 12, 18]

In [12]:
# nested forloops

li = [ele+2*ele2 for ele in range(5) for ele2 in range(5) ]
li

[0, 2, 4, 6, 8, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 3, 5, 7, 9, 11, 4, 6, 8, 10, 12]

In [14]:
# nested forloops with condition

li = [ele+2*ele2 for ele in range(5) for ele2 in range(5) \
      if (ele+2*ele2)%2==0]
li

[0, 2, 4, 6, 8, 2, 4, 6, 8, 10, 4, 6, 8, 10, 12]

In [20]:
# input a 2d list

# n,m
# n-m elements in n lines

size = input().split()
n,m = int(size[0]),int(size[1])

li = [[int(j) for j in input().split()] for i in range(n)]

3 4
1 2 3
1 2 4 5
12 3 4  5 45 6 765 7

In [21]:
li

[[1, 2, 3], [1, 2, 4, 5], [12, 3, 4, 5, 45, 6, 765, 7]]

# tuples

In [22]:
a,n = 2,3

In [27]:
type((a,n))

tuple

In [31]:
t = (1,2,3,4,5)

In [33]:
t

(1, 2, 3, 4, 5)

In [34]:
a = 1,2,3
b = 4,5,6

In [44]:
c = (a,b)

In [46]:
c = c*4

In [52]:
c.count((4))

0

# dict


- fromkeys()
- copy
- count
- get
- setdefault()
- items
- values
- keys

In [60]:
d = dict([('shaurya',3),(4,7),(234,67)])

In [61]:
d

{'shaurya': 3, 4: 7, 234: 67}

In [62]:
len(d)

3

In [63]:
min(d)

TypeError: '<' not supported between instances of 'int' and 'str'