# Operators  in Python


|**Type** | **Operartors**|
|-------|-----|
|Arithmetic Operator | +, -, *, /,  % , //, ** |
|Relational Operator | <,>,<=,>=, ==, != |
|Logical Operator | and, or, not |
|Bitwise Operator |&, ~, >>, << ,^ , \| |
|Assignment Operator | += ,-=, *=, /=, %= , //=, ** =, >>=, <<=, &=, \|=, ^=  |
|Ternary Operator | x=a if(condtion is true) else rest |
|Special Operator | (is, is not )(Identity operators), (in, not in) (Membership operators) |

# 1. Arithmetic Operator


|**Type**|**Terminology**|
|-----|--------|
|+ | addition Operator|
|- | subtraction Operator|
|* | Multiplication Operator|
|/ | Division Operator|
|% | Modulo Opertor|


|More|.....|
|-----|--------|
|// | Floor Operator|
|** |Power Operator|



**NOTE**

## / 
- this always result in a float value


## // 
- this can return either int or float
- if both values are int then result is always int
- if any one is float then result is always float

**NOTE**
- so our normal c++ operator is '//' but will always give floor value .

In [5]:
a = 12
b=12

In [6]:
a+b

24

In [8]:
print(a+b)
print(a-b)
print(a*b)
print(a/b) # always generate float value
print(a%b)

24
0
144
1.0
0

In [9]:
print(a//b) # can generate float or int; int in this case
print(a**b)

1
8916100448256

In [10]:
a=12.0

In [11]:
print(a//b) # can generate float or int; float in this case
print(a**b)

1.0
8916100448256.0

# '+' operator applicable for str also(string concatenation)

- if both are string then concatenation happen
- if any one is int then error will occur

In [15]:
'shaurya' + 3

TypeError: can only concatenate str (not "int") to str

In [14]:
'shaurya' + ' singhal'

'shaurya singhal'

In [16]:
'durga' +str(3)

'durga3'

# '*' operator applicable for str also(string repetation)

- if both are string then error will occur
- if any one is int then repetation will occur

In [17]:
'shua' *3

'shuashuashua'

In [18]:
3* 'shau'

'shaushaushau'

In [19]:
'shau'*'3'

TypeError: can't multiply sequence by non-int of type 'str'

# 2. Relational Operator ( <,>,<=,>=, ==, != )

- You know it very well
- applicable on string as well (consider Ascii or Unicode to compare)
- while comparing two values with incompatible type (using == or !=)(consider int and float both as number type) there is never an error, but result  is lhs is not equal to rhs.
- and for others(operators) it is error.

In [1]:
'3' == 3

False

In [2]:
3==3.0

True

In [9]:
4 != '4.0'

True

# Chaining of Relational Operator is also allowed

- i.e  10<20<30<40 -> is allowed in Python (it will return true)

## Rule
``` python
if a<b<c<d<e

    if all are true => then ans is true
    else false
```

In [1]:
10<20<30

True

In [2]:
10<20>30

False

In [4]:
10==5+5 == 3+7 == 2*5

True

In [6]:
'shaurya'<'singhal'

True

In [7]:
10<'sh'

TypeError: '<' not supported between instances of 'int' and 'str'

In [8]:
10=='sh'

False

In [9]:
10 =='10'

False

In [10]:
10==10.0

True

In [11]:
'shaur'=='shaur'

True

In [12]:
True==1

True

In [13]:
True==0

False

In [14]:
False==0

True

In [15]:
10+2j == 10+2j

True

In [17]:
10+2j != 10-2j

True

In [18]:
10 ==10.1

False

## 3. Logical Operator(and, or, not)--> different from C++ or Java

In case of a ('and' or 'or') b

    - result is not true or false 
    - redult is always either a or b 

- In case  of **not** ans is same as in c++

## Rules

- #### and
-- if a is false result is a otherwise b


- #### or
-- if a is true result is a otherwise b


- #### not
-- if a is true result is b otherwise a

In [20]:
10 and 20

20

In [21]:
False and 34

False

In [10]:
True and 34

34

In [22]:
'sh' and 34

34

In [23]:
'' and 245

''

In [26]:
False or'shau'

'shau'

In [27]:
not ''

True

In [28]:
not False

True

In [29]:
not 'shaurya'

False

In [30]:
10 or 10/0

10

In [31]:
10 and 10/0

ZeroDivisionError: division by zero

## 4. Bitwise Operator(&, |, ~, >>,<<, ^)

- you know them work like as in c++

## 5. Assignment and Compound Assignment Operator(=, +=,............)

- a,b,c,d = 1,2,3,4
- a,b = b,a (Swapping)


- In Python there is no pre/post-increment/decrement operator 
- i.e x++, x--, ++x, --x are not valid 
- to increment use x=x+1 or x+=1.



- post one will give u error
- pre(++x) is considered as  +(+x) 
- --x as -(-x) or we can say they are series of unary operator in python

In [39]:
x =-12

In [40]:
--x

-12

In [5]:
++x

-12

In [6]:
---x

12

In [7]:
x++

SyntaxError: invalid syntax (<ipython-input-7-0af4bb0eac37>, line 1)

## Ternary Operator

- it is unlike that in c++ or Java

``` python
    x=a if (condition is True) else (b)
```


-- chaining is also allowed in ternary operator as in c++ or Java
``` python
    x=a if (condition1) else (b if (condition2) else(c))
```

In [8]:
x=2 if(True) else 4

In [9]:
x

2

In [23]:
x=5 if (not True) else 6

In [24]:
x

6

In [31]:
x=3 if False else 5 if False  else 9

In [32]:
x

9

In [33]:
a,b=12,14

In [36]:
print(a,b,sep='\n')

12
14

In [37]:
a,b=b,a

In [38]:
print(a,b,sep='\n')

14
12

## 6. Special Operator

- Two types

|Name | Operators|
|-------|---------|
|Identity Operator| is, is not|
|Membership Operator| in, not in |

- **is operator** compares the reference i.e. whether they are pointing to same memory location or not
 but == compares the content of left value and right value.
 
- **in operator** checks if something is a member of it or not

In [42]:
a=10
b=10

In [43]:
print(id(a))
print(id(b))

1843185936
1843185936

In [44]:
a is b

True

In [45]:
a= [1,2,3]
b= [1,2,3] #since list dont use reusing concept(valid for int and strings only)

In [46]:
a==b

True

In [47]:
a is b

False

In [49]:
print(id(a))
print(type(a))
print(id(b))
print(type(b))

14881776
<class 'list'>
90696080
<class 'list'>

In [50]:
10 in a

False

In [51]:
1 in a

True

In [52]:
2 in b

True

In [53]:
5 not in b

True

In [54]:
5 in b

False

In [55]:
s = "shaurya is Loving Python "

In [57]:
print('shau' in s)
print('S' in s)
print('L' in s)
print('l' in s)
print('Pyth' in s)

True
False
True
False
True